<!-- partial -->
<div class="main-panel">
    <div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      </div>
    <div class="content-wrapper">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="color:#131e42">Manage Integration</h4>
          <div class="row">
            <div class="col-12 table-responsive">
              <table id="mydatatable" class="table table-striped">
                <thead style="background: #87ceeb">
                    <tr >
        
                        <th >ID</th>
                        <th >Source ID</th>
                        <th >Source Name</th>
                        <th >Company Id</th>
                        <th >Key</th>
                        <th >Value</th>
                        <th >Integration</th>
                        
                        </tr>
                </thead>
                <tbody *ngIf="integrations">
                    <tr *ngFor="let myList of integrations; let i = index" [attr.data-index]="i" >
                    <td >{{myList.id}}</td>
                    <td >{{myList.sourceType.id}}</td>
                    <td >{{myList.sourceType.name}}</td>
                    <td >{{myList.companyId}}</td>
                    <td >{{myList.key}}</td>
                    <td >{{myList.value}}</td>
                    <td ><button (click) = "showForm()"
                      class="btn btn-primary"> 
                      Create Integration </button>
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  
  <div *ngIf="integ">
      <h2>Create Integration</h2>
      <div class="col-md-6">
     <form class="form-horizontal" (ngSubmit)=" createIntegration()">
       <div class="form-group">
       <label>Source</label>
       <select class="form-control" name="name" [(ngModel)]="newIntegration.sourceType.name">
         <option>99 Acres</option>
         <option>Magicbricks</option>
         <option>Facebook</option>
         <option>Google</option>
         <option>Excelsheet</option>
       </select> 
      </div>
      <div class="form-group">
          <label>CompanyId</label>
          <select class="form-control" name="companyId" [(ngModel)]="newIntegration.companyId">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
         </div>
      <div class="form-group">
          <label>Key</label>
          <input type="text" name="username" class="form-control" placeholder="Key"
          [(ngModel)]="newIntegration.key">
         </div>
         
         <div class="form-group">
            <label>Value</label>
            <input type="text" name="value" class="form-control" placeholder="value"
            [(ngModel)]="newIntegration.value">
           </div>
           <div class="form-group">
             <button type="submit" class="btn btn-primary" >Save</button> &nbsp;
             <button (click)="cancelIntegration()"class="btn btn-danger">Cancel</button>
         
           </div>
    
     </form>
    </div>
    </div>
    



































<!--<div class='container'>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;"> 
          <div class="col-sm-7">Manage Integrations</div>
          <div class="col-sm-3">  
        
        </div>

  </div>
  <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12">
      <table id="mydatatable" class="table table-striped table-bordered table-responsive" style="text-align: center">
        <thead class="table-success">
        <tr >
        
        <th >ID</th>
        <th >Source ID</th>
        <th >Source Name</th>
        <th >Company Id</th>
        <th >Key</th>
        <th >Value</th>
        <th >Integration</th>
        
        </tr>
        </thead>
        
        <tfoot class="table-success">
            <tr >
            
            <th >ID</th>
            <th >Source ID</th>
            <th >Source Name</th>
            <th >Company Id</th>
            <th >Key</th>
            <th >Value</th>
            <th >Integration</th>
            
            </tr>
            </tfoot>

        <tbody *ngIf="integrations">
          <tr *ngFor="let myList of integrations; let i = index" [attr.data-index]="i" >
            <td >{{myList.id}}</td>
            <td >{{myList.sourceType.id}}</td>
            <td >{{myList.sourceType.name}}</td>
            <td >{{myList.companyId}}</td>
            <td >{{myList.key}}</td>
            <td >{{myList.value}}</td>
            <td ><button (click) = "showForm()"
              class="btn btn-primary">Create Integration</button>
            </td>
          </tr>
                      
          </tbody>
          </table>
       <div *ngIf="integ">
          <h2>Create Integration</h2>
          <div class="col-md-6">
         <form class="form-horizontal" (ngSubmit)=" createIntegration()">
           <div class="form-group">
           <label>Source</label>
           <select class="form-control" name="name" [(ngModel)]="newIntegration.sourceType.name">
             <option>99 Acres</option>
             <option>Magicbricks</option>
             <option>Facebook</option>
             <option>Google</option>
             <option>Excelsheet</option>
           </select> 
          </div>
          <div class="form-group">
              <label>CompanyId</label>
              <select class="form-control" name="companyId" [(ngModel)]="newIntegration.companyId">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
             </div>
          <div class="form-group">
              <label>Key</label>
              <input type="text" name="username" class="form-control" placeholder="Key"
              [(ngModel)]="newIntegration.key">
             </div>
             
             <div class="form-group">
                <label>Value</label>
                <input type="text" name="value" class="form-control" placeholder="value"
                [(ngModel)]="newIntegration.value">
               </div>
               <div class="form-group">
                 <button type="submit" class="btn btn-primary" >Save</button> &nbsp;
                 <button (click)="cancelIntegration()"class="btn btn-danger">Cancel</button>
             
               </div>
        
         </form>
        </div>
        </div>
      </div>      
 </div>-->
         
 